:root {
    --colour-text-primary: #323255;
    --colour-text-sub1: rgba(255, 255, 255, 0.65);
    --colour-text-sub2: rgba(0, 0, 0, 0.5);
    

    --transition: all 400ms ease;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

h1, p, a {
    color: var(--colour-text-primary);
}

p {
    line-height: 2rem;
}

li {
    color: var(--colour-text-primary);
}

main {
    width: 80%;
    margin: 0 auto;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px;
}

.navbar-sosmed {
    display: flex;
    justify-content: space-between;
    gap: 1.8rem;
    margin-left: 32px;
}

.uil {
    font-size: 1.25rem;
}

i {
    color: var(--colour-text-primary);
}

.navbar-title {
    transition: var(--transition);
}

.navbar-title:hover {
    letter-spacing: 0.3rem;
}

.navbar-btn__resume {
    margin-right: 32px;
    padding: 18px 32px;
    background-color: transparent;
    color: var(--colour-text-primary);
    border: 1px solid var(--colour-text-primary);
    border-radius: 2rem;
}

header {
    transform: var(--transition);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20rem;
    text-align: center;
}

.header-container {
    display: flex;
    align-items: center;
}

.fa-laptop-code {
    /* cara mengubah size icon (iconscot) */
    /* untuk icon dari iconscout, jika mau set szie gunakan font size */
    font-size: 8rem;
    margin-right: 2.5rem;
}

.header-text__name {
    font-weight: light;
    font-size: 4.5rem;
}

.header-text__name span{
    border-bottom: 5px solid var(--colour-text-primary);
}


.header-text__desc {
    letter-spacing: 0.3rem;
}

.header-navigation {
    background: transparent;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 3rem;
    margin-top: 12%;
    padding: 30px 50px;
    border: 1px solid var(--colour-text-primary);
}

.header-navigation__list {
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.header-navigation__item {
    transition: var(--transition);
    cursor: pointer;
}

.nav-about, .nav-project, .nav-experience, .nav-contact {
    transition: var(--transition);
}

.nav-about:hover, .nav-project:hover, .nav-experience:hover, .nav-contact:hover {
    transition: var(--transition);
    font-weight: bold;
    letter-spacing: 0.3rem;
}

.about-page {
    border-radius: 20px;
    margin: 15rem 0;
    padding: 2rem;
    transition: var(--transition);
    border: #323255 solid 1px;
}

.about-page:hover {
    transform: scale(1.1);
    transition: var(--transition);
    box-shadow: -8px 2px 52px 15px rgba(236, 236, 236, 0.9);
    -webkit-box-shadow: -8px 2px 52px 15px rgba(236, 236, 236, 0.9);
    -moz-box-shadow: -8px 2px 52px 15px rgba(236, 236, 236, 0.9);
}

.about-page__content {
   display: flex;
   align-items: center;
   /* justify-content: center; */
   margin: 3rem 0; 
}

.about-page__content-text {
    margin-left: 3rem;
}

.about-page__content-text p {
    line-height: 1.25rem;
}

.about-page__content-image {
    width: 25rem;
    object-fit: cover;
}

.about-page__content-text a {
    padding: 0.8rem 2.5rem;
    background-color: transparents;
    border: #323255 solid 1px;
    border-radius: 100px;
}

.project-page__text {
    text-align: center;
}

.project-page__text h1 {
    font-size: 38px;
}

.project-page__text p {
    font-size: 18px;
}

.project-page__main {
    display: flex;
    justify-content: center;
}

.project-page__card {
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 1.5rem;
    border: 1px solid var(--colour-text-primary);
    border-radius: 1rem;
}

.project-page__indicator {
    display: flex;
}

.project-page__type{
    font-size: 12px;
    padding: 2px 0.8rem;
    background-color: var(--colour-text-primary);
    color: #fff;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
}

.project-page__desc {
    margin: 1.5rem 0;
}

.project-page__link {
    display: flex;
    align-items: center;
}

.project-page__link-text {
    margin-right: 0.5rem;
    font-weight: bold;
} 

.contact-page {
    display: flex;
    gap: 18%;
    justify-content: center;
    margin: 10rem;
}

.contact-page__right-card {
    display: flex;
    margin: 1.5rem 0;
    align-items: center;
    border: var(--colour-text-primary) solid 1px;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
}

.contact-page__right-card i {
    font-size: large;
}

.contact-page__right-card p {
    margin-left: 1rem;
    font-size: large;
}


/* ===== MEDIA QUERY AREAAAA ===== */

@media screen and (max-width:1440px) {
    .header-navigation {
        margin-top: 22%;
    }
}

@media screen and (max-width:1024px) {

    .header-text__name {
        font-size: 4rem;
    }

    .header-text__desc {
        font-size: 0.8rem;
    }

    .fa-laptop-code {
        font-size: 6.5rem;
    }

    .name-about{
        font-size: 28px;
    }

    .about-page__content-image {
        width: 45%;
    }

}

@media screen and (max-width:768px) {
    
    .header-navigation {
        margin-top: 30%;
    }

    .name-about {
        font-size: 24px;
    }

    .about-page__content-text p {
        font-size: 16px;
    }

    .about-page__content-image {
        width: 40%;
    }

}